@model List<Project3Travelin.Dtos.TourDtos.ResultTourDto>

<section class="trending">
  <div class="container">
    <div class="section-title mb-6 w-75 mx-auto text-center">
      <h4 class="mb-1 theme1">Yeni Turlar</h4>
      <h2 class="mb-1"><span class="theme">Son Eklenen Turları  </span>Kaçırma</h2>
    </div>
    <div class="trend-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="row item-slider2 slick_arrows">
            @foreach (var item in Model.Take(5))
            {
              <div class="col-lg-3 col-md-6">
                <div class="trend-item rounded box-shadow border">
                  <div class="trend-image position-relative m-2 rounded">
                    <img src="@item.ImageUrl" alt="image" class=""/>
                  </div>
                  <div class="trend-content p-3 position-relative bg-white">
                    <h6 class="theme mb-1"><i class="flaticon-location-pin"></i> @item.Country</h6>
                    <h4 class="mb-1"><a href="~/Tour/TourDetail/@item.TourId">@item.Title </a></h4>
                    <div class="d-flex align-items-center gap-4 mb-1">
                      <div class="">
                        <div class="entry-author">
                          <i class="icon-calendar theme1"></i>
                          <span class=""> @item.DayNight</span>
                        </div>
                      </div>
                    </div>
                    <div class="entry-meta">
                      <div class="entry-author d-flex align-items-center fs-8">
                        <p class="mb-0"><span class="theme fw-bold fs-6"> ₺@item.Price</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>