<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travelin - Travel Tour Booking HTML Templates</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/03_travelin_main_file/travelin/images/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="~/03_travelin_main_file/travelin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="~/03_travelin_main_file/travelin/css/style.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="~/03_travelin_main_file/travelin/css/plugin.css" rel="stylesheet" type="text/css">

    <!--Font Awesome-->
    
    <link rel="stylesheet" href="~/03_travelin_main_file/travelin/css/fontawesome.min.css" />

    <link rel="stylesheet" href="~/03_travelin_main_file/travelin/fonts/line-icons.css" type="text/css">
</head>