<header class="main_header_area">
    <div class="header-content py-1 bg-theme">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="links">
                <ul>
                    <li><a href="#" class="white"><i class="icon-calendar white"></i> @DateTime.Now.Year</a></li>
                    <li><a href="#" class="white"><i class="icon-location-pin white"></i>  İstanbul, Türkiye</a></li>
                    <li><a href="#" class="white"><i class="icon-clock white"></i> Pzrt-Cts: 08.30-18.00</a></li>
                </ul>
            </div>
            <div class="links float-right">
                <ul>
                    <li><a href="#" class="white"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="white"><i class="fab fa-linkedin " aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-3 pt-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <img src="/03_travelin_main_file/travelin/images/logo.png" class="w-75" alt="image"/>
                        </a>
                    </div>
                    <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="responsive-menu">

                            <li><a asp-controller="Home" asp-action="Anasayfa">Anasayfa</a></li>
                            <li><a href="#about">Hakkımızda</a></li>
                            <li><a asp-controller="Tour" asp-action="TourList">Tur Listesi</a></li>
                            <li><a asp-controller="Contact" asp-action="Iletisim">İletişim</a></li>
                        </ul>
                        <a asp-controller="Booking" asp-action="Rezervasyon" class="nir-btn px-3 py-1 ms-3">Rezervasyon Yap</a>
                    </div>
                    <div id="slicknav-mobile"></div>
                </div>
            </div>
        </nav>
    </div>
</header>