<section class="banner overflow-hidden">
  <div class="slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-inner">
            <div class="slide-image" style="background-image: url(https://wallpapers.com/images/hd/beautiful-saint-basil-s-cathedral-in-kremlin-9pj9wo5s1l5ph2oe.jpg)"></div>

            <div class="soft-overlay"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-inner">
            <div class="slide-image" style="background-image: url(https://b2ccdn.coraltatil.com/content/yurtdisiturlari/bolgegorsel/amerika_turlari.webp)"></div>

            <div class="soft-overlay"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-inner">
            <div class="slide-image" style="background-image: url(https://blog-biletall.mncdn.com/wp-content/uploads/2016/12/nevsehir-kapadokya.jpg)"></div>

            <div class="soft-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <div class="banner-content position-absolute">
    <div class="entry-meta mb-0">
    </div>
    <h1 class="mb-0"><a href="tour-single.html" class="white">Hayalindeki Tatili Planla</a></h1>
    <div class="banner-booking mt-3">
      <div class="form-content-in d-flex align-items-center justify-content-center gap-3 p-3">
        <div class="form-group">
          <div class="input-box">
            <select class="niceSelect">
              <option value="1">Destination</option>
              <option value="2">Argentina</option>
              <option value="3">Belgium</option>
              <option value="4">Canada</option>
              <option value="5">Denmark</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-box">
            <input type="date" name="date"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-box">
            <select class="niceSelect">
              <option value="1">Travel Type</option>
              <option value="2">City Tour</option>
              <option value="3">Family Tour</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-box">
            <select class="niceSelect">
              <option value="1">Tour Duration</option>
              <option value="2">5 days</option>
              <option value="3">7 Days</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <a href="#" class="nir-btn px-4 py-1 d-flex">Search</a>
        </div>
      </div>
    </div>
  </div>
</section>