@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<section class="discount-action pt-0" style="background-image:url(/03_travelin_main_file/travelin/images/section-bg1.png); background-position:center;">
    <div class="container">
        <div class="call-banner rounded pt-10 pb-14">
            <div class="call-banner-inner w-75 mx-auto text-center px-5">
                <div class="trend-content-main">
                    <div class="trend-content mb-5 pb-2 px-5">
                        <h5 class="mb-1 theme">@Localizer["Gittiğin Yeri Sev"]</h5>
                        <h2><a href="detail-fullwidth.html">@Localizer["Hayatını Keşfet"], <span class="theme1">  @Localizer["İstediğin Yere Seyahat Et!"]</span></a></h2>
                        <p>@Localizer["Hayatını Keşfet, Hayalini Kurduğun Yerlere Yolculuk Yap!"]</p>
                    </div>
                    <div class="video-button text-center position-relative">
                        <div class="call-button text-center">
                            <button type="button" class="play-btn js-video-button" data-video-id="152879427" data-channel="vimeo">
                                <i class="fa fa-play bg-blue"></i>
                            </button>
                        </div>
                        <div class="video-figure"></div>
                    </div>
                </div>
            </div>
        </div>     
    </div>    
    <div class="white-overlay"></div>
    <div class="white-overlay"></div>
    <div class="section-shape  top-inherit" style="background-image: url(/03_travelin_main_file/travelin/images/shape6.png);bottom: -30px !important;"></div>
</section>