<div class="contact-info-content row mb-1">

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
            <div class="info-icon mb-2">
                <i class="fa fa-map-marker-alt theme"></i>
            </div>
            <div class="info-content">
                <h3>Ofisimiz</h3>
                <p class="m-0">İstanbul/Türkiye</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
            <div class="info-icon mb-2">
                <i class="fa fa-phone theme"></i>
            </div>
            <div class="info-content">
                <h3>Telefon Numaramız</h3>
                <p class="m-0">0967 567 5566</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 mb-4">
        <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
            <div class="info-icon mb-2">
                <i class="fa fa-envelope theme"></i>
            </div>
            <div class="info-content ps-4">
                <h3>E-posta Adresi</h3>
                <p class="m-0">info@travento.com</p>
            </div>
        </div>
    </div>

</div>