<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travento | Yurt İçi & Yurt Dışı Tur ve Seyahat Rezervasyonu</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/03_travelin_main_file/travelin/images/favicon.png">
    <link href="~/03_travelin_main_file/travelin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/03_travelin_main_file/travelin/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/03_travelin_main_file/travelin/css/plugin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/03_travelin_main_file/travelin/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/03_travelin_main_file/travelin/fonts/line-icons.css" type="text/css">
</head>