@model List<Project3Travelin.Dtos.PopulerDtos.ResultPopulerDto>

<section class="trending" style="background-image: url(images/shape-1.png); background-position: center">
  <div class="container-xxl">
    <div class="section-title mb-6 w-75 mx-auto text-center">
      <h4 class="mb-1 theme1">Popüler Yerler</h4>
      <h2 class="mb-1"><span class="theme">En Çok Tercih Edilen Turları  </span>Keşfet</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="top-dscp">
          <div class="cards-container">
            @foreach (var item in Model)
            {
              <div class="card" style="background-image: url('@item.ImageUrl')">
                <a href="~/Tour/TourList">
                  <div class="card-content">
                    <h4>@item.Country</h4>
                    <h2>@item.City</h2>
                  </div>
                  <div class="soft-overlay"></div>
                </a>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>