<section class="trending" style="background-image: url(images/shape-1.png); background-position: center">
  <div class="container-xxl">
    <div class="section-title mb-6 w-75 mx-auto text-center">
      <h4 class="mb-1 theme1">Popüler Yerler</h4>
      <h2 class="mb-1"><span class="theme">En Çok Tercih Edilen Turları  </span>Keşfet</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="top-dscp">
          <div class="cards-container">
            <div class="card" style="background-image: url('https://img.sandayagroupe.eu/images/2/0/4/7/847402-14-eng-GB/bd63ab0d979e-Toscane_AdobeStock_517360980.jpg')">
              <a href="#">
                <div class="card-content">
                  <h4>İtalya</h4>
                  <h2>Hazar Vadisi</h2>
                </div>
                <div class="soft-overlay"></div>
              </a>
            </div>

            <div class="card" style="background-image: url('https://img-s1.onedio.com/id-56b5e4fc6e118d87562ba99f/rev-0/w-1200/h-802/f-jpg/s-56f31fc73f14ed9cce52a5b9293c7b4aefee8c4a.jpg')">
              <a href="#">
                <div class="card-content">
                  <h4>Tokyo</h4>
                  <h2>Japonya</h2>
                </div>
                <div class="soft-overlay"></div>
              </a>
            </div>

            <div class="card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/db/View_of_Moscow1.jpg?20210802111103')">
              <a href="#">
                <div class="card-content">
                  <h4>Moskova</h4>
                  <h2>Rusya</h2>
                </div>
                <div class="soft-overlay"></div>
              </a>
            </div>

            <div class="card" style="background-image: url('https://mediaim.expedia.com/destination/9/d5676c2230f8fe3b5ee68cee130c77d1.jpg?impolicy=fcrop&w=1040&h=580&q=mediumHigh')">
              <a href="#">
                <div class="card-content">
                  <h4>Florida</h4>
                  <h2>Amerika</h2>
                </div>
                <div class="soft-overlay"></div>
              </a>
            </div>

            <div class="card" style="background-image: url('https://i.pinimg.com/736x/6a/99/ee/6a99ee843798375c5f7049316e8d31ed.jpg')">
              <a href="#">
                <div class="card-content">
                  <h4>Paris</h4>
                  <h2>Fransa</h2>
                </div>
                <div class="soft-overlay"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>