<nav class="sidebar">
    <div class="sidebar-header">
      <a href="~/03_travelin_main_file/travelin/index.html" class="sidebar-brand">
        <img src="~/03_travelin_main_file/travelin/images/logo.png" alt="logo" class="w-75">
      </a>
      <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="sidebar-body">
      <ul class="nav">
        <li class="nav-item">
          <a href="dashboard.html" class="nav-link">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="~/Home/Anasayfa" target="_blank" class="nav-link">
            <i class="link-icon" data-feather="home"></i>
            <span class="link-title">Siteye Git</span>
          </a>
        </li>
        <hr>
        <li class="nav-item active">
          <a href="~/Admin/Slider" class="nav-link">
            <i class="link-icon" data-feather="sliders"></i>
            <span class="link-title">Slider</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="~/Admin/PopulerTour/PopulerTourList" class="nav-link">
            <i class="link-icon" data-feather="image"></i>
            <span class="link-title">Popüler Turlar</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="~/Admin/About/" class="nav-link">
            <i class="link-icon" data-feather="file"></i>
            <span class="link-title">Hakkımızda</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="~/Admin/Slider" class="nav-link">
            <i class="link-icon" data-feather="columns"></i>
            <span class="link-title">Banner Alanı</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="~/Admin/Slider" class="nav-link">
            <i class="link-icon" data-feather="list"></i>
            <span class="link-title">SSS</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#setting" role="button" aria-expanded="false" aria-controls="setting">
            <i class="link-icon" data-feather="settings"></i>
            <span class="link-title">Ayarlar</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
          </a>
          <div class="collapse" id="setting">
            <ul class="nav sub-menu">
              <li class="nav-item">
                <a href="company-profile.html" class="nav-link">Footer</a>
              </li>
              <li class="nav-item">
                <a href="role-manange-list.html" class="nav-link">Header</a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </nav>