<section class="why-choose-us pb-0" style="background-image: url(v/03_travelin_main_file/travelin/images/sticker.png)">
  <div class="container">
    <div class="section-title mb-6 w-50 mx-auto text-center">
      <h5 class="theme1">Neden Bizi Seçmelisiniz?</h5>
      <h2> <span class="theme">Güvenilir Seyahat </span>Partneriniz</h2>
      <p>20 yılı aşkın tecrübemizle binlerce misafirimize unutulmaz deneyimler yaşattık. </p>
    </div>
    <div class="row justify-content-center align-items-start">
      <div class="col-md-4">
        <div class="d-flex flex-column gap-5">
          <div class="feature-box fbox-one d-flex justify-content-start align-items-center flex-row-reverse gap-3 text-end bg-lblue mb-3 px-3 py-2">
            <div class="feature-icon d-inline-flex p-3 bg-lblue2 white rounded-circle"><i class="fa fa-bell"></i></div>
            <div>
              <h5>Kişiye Özel Planlama</h5>
              <p>İhtiyaçlarınıza ve bütçenize uygun tur seçenekleri.</p>
            </div>
          </div>
          <div class="feature-box d-flex justify-content-start align-items-center flex-row-reverse gap-3 text-end bg-lyellow mt-3 px-3 py-2">
            <div class="feature-icon d-inline-flex p-3 bg-lyellow2 white rounded-circle"><i class="fa fa-check"></i></div>
            <div>
              <h5>Güvenli Ödeme</h5>
              <p>Tüm işlemleriniz güvenli altyapı ile korunur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 d-flex justify-content-center">
        <img src="~/03_travelin_main_file/travelin/images/girl-1.png" alt="Traveler" class="traveler-img w-75"/>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-column gap-5">
          <div class="feature-box fbox-three d-flex justify-content-start align-items-center gap-3 bg-lyellow mb-3 px-3 py-2">
            <div class="feature-icon d-inline-flex p-3 bg-lyellow2 white rounded-circle"><i class="fa fa-shopping-bag"></i></div>
            <div>
              <h5>Özel Fırsatlar</h5>
              <p>Erken rezervasyon ve kampanyalı turlar.</p>
            </div>
          </div>
          <div class="feature-box d-flex justify-content-start align-items-center gap-3 bg-lgreen mt-3 px-3 py-2">
            <div class="feature-icon d-inline-flex p-3 bg-lgreen2 white rounded-circle"><i class="fa fa-gift"></i></div>
            <div>
              <h5>Profesyonel Rehberler</h5>
              <p>Deneyimli ve uzman rehber kadrosu.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-4">
        <div class="feature-box text-center bg-lblue px-3 py-2 mx-0">
          <div class="feature-icon d-inline-flex p-3 mb-2 bg-lblue2 white rounded-circle"><i class="fa fa-map"></i></div>
          <h5>Kolay Rezervasyon</h5>
          <p>Hızlı ve pratik rezervasyon sistemi.</p>
        </div>
      </div>
    </div>
  </div>
</section>