@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
 @await Component.InvokeAsync("_HomeHeadComponentPartial")
  <body class="home-eight">
    <div id="preloader">
      <div id="status"></div>
    </div>
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")
    
    @await Component.InvokeAsync("_HomeSliderComponentPartial")
    
    @await Component.InvokeAsync("_HomePoulerTourComponentPartial")
    
    @await Component.InvokeAsync("_HomeAboutComponentPartial")
    
    @await Component.InvokeAsync("_HomeNewTourComponentPartial")
    
    @await Component.InvokeAsync("_HomeBannerComponentPartial")

    @await Component.InvokeAsync("_HomeWhyChooseComponentPartial")
    
    @await Component.InvokeAsync("_HomeFaqComponentPartial")
    
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_HomeScriptComponentPartial")
  </body>
</html>
